@import '@/style/variables.scss';

// BACKGROUND COLOR
.blue-gradient {
    background-color: $brg-blue;
    background-image: linear-gradient(
        $brg-blue, $brg-dark-blue
    );
}

footer {
    height: 40vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    // FOOTER TOP
    .ft-top {
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;

        .ft-top-box {
            display: flex;
            flex-direction: column;
            width: calc(100% / 4 - 20px);
            padding: 0 20px;
            font-size: 12px;

            .logo > img {
                width: 100px;
                margin-bottom: 30px;
            }

            h3 {
                margin-bottom: 20px;
                color: #fff;
            }

            .contact-type {
                margin-right: 5px;
                color: #fff;
            }

            p,
            li,
            .contact-value {
                font-size: 12px;
                color: $text-gray;
            }

            li {
                list-style: none;
                margin-bottom: 5px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                }
            }
        }

        .resources > ul > li {
            text-align: center;
        }

        .contacts {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            & div:nth-child(2) {
                margin-bottom: 20px;
            }
        }
    }

    hr {
        color: rgba(170, 170, 170, 0.212);
    }
    
    // FOOTER BOTTOM
    .ft-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        padding-bottom: 20px;
    

        .copyright {
            font-size: 8px;
            color: $text-gray;
            padding-left: 40px;
        }

        .social {
            i {
                color: #fff;
                margin: 0 10px;
                cursor: pointer;
            }
            
            i.fab {
                font-size: 12px;
            }

            .arrow-up {
                position: relative;
                bottom: 70%;
                background-color: #fff;
                padding: 5px 10px;
                border-radius: 50%;
                cursor: pointer;
            }

            .chat {
                background-color: #527CEB;
                padding: 8px 0;
                margin: 0 10px;
                border-radius: 50%;
            }
        }

    }
}