@import './variables.scss';

.blue-gradient {
    background-color: $brg-blue;
    background-image: linear-gradient(
        $brg-blue, $brg-dark-blue
    );
}

.container-jumbo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 420px;

    .jumbo-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        height: 450px;
        padding: 0 40px; 
        

        .jumbo-title {
            font-size: 40px;
            color: #fff;
        }

        .jumbo-paragraph {
            width: 300px;
            padding: 20px 0;
            margin: 20px 0;
            font-size: 12px;
            font-weight: 400;
            color: $light-blue;
        }

        .container-buttons {
            display: flex;
            align-items: center;
        }
    }

}