@import './variables.scss';
// SECTIONS: OurServices, Portfolio, PriceList, Blog, Testimonial 

.section-container {
    // altezza specifica per ogni sezione
    // colore background specifico per ogni sezione
    padding: 30px 0;
    text-align: center;

    .section-name {
        color: $light-pink;
        font-size: 12px;
        font-weight: 300;
    }

    .section-title {
        font-size: 40px;
        padding: 10px 0;
    }

    p {
        margin-bottom: 20px;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 1px;
        color: $text-gray;
    }
}

